# Ignore directories
/dist
/node_modules
/.nuxt
/.vs
/.idea
/.vscode
/.github
/.output

# Ignore specific files
*.user
secrets.json
.gitignore

# Ignore Docker related files
.dockerignore
Dockerfile*
Dockerfile
Dockerfile.prod
docker-compose*
