# Ignore directories
/bin
/obj
/.vs
/.idea
/.vscode
/.github

# Ignore specific files
*.user
secrets.json
.gitignore

# Ignore Docker related files
.dockerignore
Dockerfile*
Dockerfile
Dockerfile.prod
docker-compose*
